<div id="wrapper">
    <nav-bar></nav-bar>
    <div id="page-wrapper" class="pad20">
		<div class="row">
		    <div class="col-lg-12">
                <div class="row"></div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Airwaybills
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Airwaybill Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="awb in airwaybillsList">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ awb }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></uib-pagination>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>

		    </div>
		    <!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->    	
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
