<div id="wrapper">
    <nav-bar></nav-bar>
    <div id="page-wrapper" class="pad20">
		<div class="row">
		    <div class="col-lg-12">
                <div class="row"></div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Generate Airwaybills
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Airwaybills Count</label>
                                <input class="form-control" type="number" ng-model="airwaybillsCount">
                                <p class="help-block">Number of airwaybills to be generated.</p>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="generateAirwaybills()">Generate</button>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>

		    </div>
		    <!-- /.col-lg-12 -->
		    <!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->    	
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
