<div id="wrapper">
    <nav-bar></nav-bar>
    <div id="page-wrapper" class="pad20">
		<div class="row">
		    <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Validate Airwaybills
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Airwaybills</label>
                                <textarea class="form-control" rows="6" ng-model="airwaybillsToValidate"></textarea> 
                                <p class="help-block">Airwaybills to be validated. One airwaybill per line. No comma's at the end of line.</p>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="validateAirwaybills()">Validate</button>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>

		    </div>
		    <!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->    	
        <div class="row">
        	<div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Validation Result
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Airwaybill Number</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in validationResultSet">
                                        <td>{{ key }}</td>
                                        <td>{{ value ? "Valid" : "Invalid" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>        		
        	</div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
